.service-description {
  display: none;
  position: relative;
  top: -50px;
  width: 455px;
  padding: 20px 300px 0 0;

  &__title-middle {
    margin-bottom: 28px;
  }

  &__text {
    @extend  %reset-mp;
  }

  &--delivery {
    background: url("delivery.svg") no-repeat 556px 35px;
    background-size: 134px 166px;

  }

  &--guarantee {
    background: url("warranty.svg") no-repeat 537px 15px;
    background-size: 171px 184px;
  }

  &--credit {
    background: url("credit.svg") no-repeat 528px 12px;
    background-size: 156px 186px;
  }

  &--visible {
    display: block;
  }

  &--animationIn {
    animation-name: emersion;
    animation-duration: 500ms;
    animation-timing-function: linear;
  }
  &--animationOut {
    animation-name: disappearing;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

  }
}