.popup-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background: rgba(240, 197, 46, 0.5);
  cursor: pointer;
  outline: none;

  &:hover, &:focus {
    background: rgba(240, 197, 46, 1);
  }
  &:active {
    background: rgba(240, 197, 46, 0.3);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 28px;
    margin-top: -14px;
    margin-left: -1px;
    background: #ffffff;
    transform: rotate(45deg);
  }
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 28px;
    margin-top: -14px;
    margin-left: -1px;
    background: #ffffff;
    transform: rotate(-45deg);
  }
}