.page-main {
  @extend %reset-mp;
  padding-top: 40px;
  @include font("OpenSans", 300);
  font-size: 15px;
  line-height: 30px;
  background: #ffffff;
  color: $color-text-main;



  &__categories-product {
    top: -10px;
    margin-bottom: 142px;
  }

  &__service {
    margin-bottom: 68px;
  }

  &__brands {
    margin-bottom: 67px;
  }

  &__wrapper-columns {
    margin-bottom: 82px;
  }

  &__header-main {
    margin-bottom: 32px;
  }

  &__page-title {
    margin-left: 60px;
    margin-bottom: 44px;
  }

  &__filter {
    margin-left: 60px;
  }
}