.btn {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 1;
  border: none;
  @include font("Gilroy", 800);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $color-text-main;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  outline: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    z-index: -1;
    height: 8px;
    margin-top: -4px;
    background: $color-orange-main;
  }

  &:hover, &:focus {
    &::before {
      top: 0;
      bottom: 0;
      left: 0px;
      right: 0px;
      z-index: -1;
      height: 100%;
      margin: 0px;
      transition: all .1s linear;


    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    &::before {
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      z-index: -1;
      height: auto;
      margin-top: 0px;
    }
  }
  &--width-160 {
    min-width: 160px;
    padding: 5px 10px;
  }

  &--width-200 {
    min-width: 200px;
    padding: 5px 10px;
  }

  &--width-220 {
    min-width: 220px;
    padding: 5px 10px;
  }

  &--width-260 {
    min-width: 260px;
    padding: 5px 10px;
  }

  &--black-bg {

    &:active {
      color: $color-yellow;
      &::before {
        left: 0px;
        right: -125px;
        top: 0px;
        bottom: 0px;
        z-index: -1;
        height: auto;
        margin-top: 0px;
        background: #000000;
      }
    }
  }

  &--active {
    color: $color-yellow;

    &::before {
      left: 0px;
      right: -125px;
      top: 0px;
      bottom: 0px;
      z-index: -1;
      height: auto;
      margin-top: 0px;
      background: #000000;
    }

    &:hover, &:focus {
      &::before {
        left: 0px;
        right: -125px;
        top: 0px;
        bottom: 0px;
        z-index: -1;
        height: auto;
        margin-top: 0px;
        background: #000000;
      }

    }
  }
  &--contacts-js {

  }

}