.footer-main {
  width: 100%;
  min-height: 323px;
  padding-top: 50px;
  background: $color-grey-extra-dark;
  color: $color-text-second;

  &__social {
    margin: 0 auto;
  }

  &__left {
    margin-top: 14px;
    margin-right: 158px;
  }

  &__center {
    margin-top: 82px;
    margin-right: 48px;
  }

  &__right {
    margin-top: 5px;
  }
}