<div class="container">
<header class="header-main header-main--catalog page-main__header-main">
  <a class="logo-main header-main__logo-main" href="index.html">
    <img class="logo-main__img" src="img/logo-black.png" alt="DEVICE">
  </a>

  <div class="wrapper-user-block header-main__wrapper-user-block">
    <form class="form-search header-main__form-search" action="#" method="get">
      <input class="input-search" type="text" placeholder="Поиск по сайту">
      <button class="btn-search btn-search--hidden" type="submit">Найти</button>
    </form>

    <ul class="user-navigation">
      <li class="user-navigation__item user-navigation__item--mr-210">
        <a class="user-navigation__link  user-navigation__link--login" href="#">Войти</a>
      </li>
      <li class="user-navigation__item">
        <a class="user-navigation__link user-navigation__link--compare" href="#">Сравнить</a>
      </li>
      <li class="user-navigation__item">
        <a class="user-navigation__link user-navigation__link--cart" href="#">Корзина</a>
      </li>
    </ul>
  </div>


  <nav class="main-navigation">
    <ul class="main-menu">
      <li class="main-menu__item main-menu__item--catalog">
        <a class="main-menu__link main-menu__link--catalog" href="#">
          Каталог товаров
        </a>
        <ul class="main-menu__sub-list">
          <li class="main-menu__sub-item main-menu__sub-item--margin-60"><a class="main-menu__sub-link" href="#">Виртуальная реальность</a></li>
          <li class="main-menu__sub-item main-menu__sub-item--margin-78"><a class="main-menu__sub-link" href="#">Фитнес-браслеты</a></li>
          <li class="main-menu__sub-item"><a class="main-menu__sub-link" href="#">Квадрокоптеры</a></li>
          <li class="main-menu__sub-item main-menu__sub-item--margin-87"><a class="main-menu__sub-link" href="catalog.html">Моноподы для селфи</a></li>
          <li class="main-menu__sub-item"><a class="main-menu__sub-link" href="#">Умные часы</a></li>
          <li class="main-menu__sub-item main-menu__sub-item--last"><a class="main-menu__sub-link" href="#">Экшн-камеры</a></li>
        </ul>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Доствака
        </a>
      </li>
      <li class="main-menu__item main-menu__item--margin-112">
        <a class="main-menu__link" href="#">
          Гарантия
        </a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Контакты
        </a>
      </li>
    </ul>
  </nav>
</header>
</div>