<footer class="footer-main">
  <div class="container container--flex-fs">
    <div class="left footer-main__left">
      <a class="logo-main left__logo-main">
        <img class="logo-main__img" src="img/logo-yellow.png" alt="DEVICE">
      </a>
      <p class="address-text">г. Москва, ул. Строителей, 15</p>
    </div>

    <div class="center footer-main__center">
      <ul class="main-menu center__main-menu">
        <li class="main-menu__item">
          <a class="main-menu__link main-menu__link--white" href="#">
            Доствака
          </a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link main-menu__link--white" href="#">
            Гарантия
          </a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link main-menu__link--white" href="#">
            Контакты
          </a>
        </li>
      </ul>
      <ul class="social footer-main__social">
        <li class="social__item"><a class="social-btn social-btn--fb" href="#"><span class="g-hidden">Фейсбук</span></a></li>
        <li class="social__item"><a class="social-btn social-btn--insta" href="#"><span class="g-hidden">Инстаграмм</span></a></li>
        <li class="social__item"><a class="social-btn social-btn--twitter" href="#"><span class="g-hidden">Твиттер</span></a></li>
      </ul>
    </div>

    <div class="right footer-main__right">
      <ul class="user-navigation right__user-navigation">
        <li class="user-navigation__item">
          <a class="user-navigation__link user-navigation__link--login-yellow" href="#">Войти</a>
        </li>
        <li class="user-navigation__item">
          <a class="user-navigation__link user-navigation__link--compare-yellow" href="#">Сравнить</a>
        </li>
        <li class="user-navigation__item">
          <a class="user-navigation__link user-navigation__link--cart-yellow" href="#">Корзина</a>
        </li>
      </ul>
      <p class="phone-text right__phone-text">Тел.: +7 (495) 495-95-95</p>
      <a class="copyright" href="#"><span class="g-hidden">HTML academy</span></a>

    </div>
  </div>
</footer>