<div class="container">
<header class="header-main">
  <a class="logo-main header-main__logo-main">
    <img class="logo-main__img" src="img/logo-black.png" alt="">
  </a>

  <form class="form-search header-main__form-search" action="#" method="get">
    <input class="input-search" type="text" placeholder="Поиск по сайту">
    <button class="btn-search btn-search--hidden" type="submit">Найти</button>
  </form>

  <ul class="user-navigation">
    <li><a class="user-block__item user-block__item--login" href="#">Войти</a></li>
    <li><a class="user-block__item user-block__item--compare" href="#">Сравнить</a></li>
    <li><a class="user-block__item user-block__item--basket" href="#">Корзина</a></li>
  </ul>


  <nav class="main-navigation">
    <ul class="main-menu">
      <li class="main-menu__item">
        <a class="main-menu__link main-menu__link--cotolog" href="#">
          Каталог товаров
        </a>
        <ul class="sub-menu">
          <li class="sub-menu__item"><a class="sub-menu__link" href="#">Виртуальная реальность</a></li>
          <li class="sub-menu__item"><a class="sub-menu__link" href="#">Фитнес-браслеты</a></li>
          <li class="sub-menu__item"><a class="sub-menu__link" href="#">Квадрокоптеры</a></li>
          <li class="sub-menu__item"><a class="sub-menu__link" href="catalog.html">Моноподы для селфи</a></li>
          <li class="sub-menu__item"><a class="sub-menu__link" href="#">Умные часы</a></li>
          <li class="sub-menu__item"><a class="sub-menu__link" href="#">Экшн-камеры</a></li>
        </ul>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Доствака
        </a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Гарантия
        </a>
      </li>
      <li class="main-menu__item">
        <a class="main-menu__link" href="#">
          Контакты
        </a>
      </li>
    </ul>
  </nav>
</header>
</div>