<div class="popup-overlay">
<section class="popup-message">
  <h2 class="g-hidden">Форма отправки сообщения</h2>
  <form class="form-popup" action="#" method="post">
    <p class="form-popup__item form-popup__item--width-360px">
    <label class="form-popup__label " for="name">Ваше имя:</label>
    <input class="input-text-popup input-text-popup--width-100" type="text" name="name" id="name" placeholder="Представьтесь пожалуйста">
    </p>
    <p class="form-popup__item form-popup__item--width-360px">
      <label class="form-popup__label" for="email">Ваш e-mail:</label>
      <input class="input-text-popup input-text-popup--width-100" type="email" name="email" id="email" placeholder="Для отправки ответа">
    </p>

    <p class="form-popup__item form-popup__item--width-100">
    <label class="form-popup__label" for="text">Текст письма:</label>
    <textarea class="input-text-popup input-text-popup--width-100" name="text" id="text" cols="30" rows="7" placeholder="В свободной форме"></textarea>
    </p>

    <button class="btn form-popup__btn btn--width-200" type="submit">Отправить</button>
  </form>

  <button class="popup-close"><span class="g-hidden">Закрыть</span></button>
</section>
</div>