<section class="popup-message">
  <form class="popup-form" action="#" method="post">
    <p>
    <label class="popup-input__label" for="name">Ваше имя:</label>
    <input class="popup-input" type="text" name="name" id="name" placeholder="Представьтесь пожалуйста">
    </p>
    <p>
      <label class="popup-input__label" for="email">Ваш e-mail:</label>
      <input class="popup-input" type="email" name="email" id="email" placeholder="Дляотправки ответа">
    </p>

    <p>
    <label class="popup-input__label" for="text">Текст письма:</label>
    <textarea class="popup-input" name="text" id="text" cols="30" rows="10">В свободной форме</textarea>
    </p>

    <button class="btn" type="submit">Отправить</button>
  </form>

  <span class="popup-close"></span>
</section>