html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;

}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 20px 0;
  padding: 0px;
  list-style: none;
}

h1 {
  margin: 36px 0px;
  font-size: 36px;
  line-height: 42px;

}

h2 {
  margin: 24px 0px;
  font-size: 24px;
  line-height: 28px;

}

h3 {
  margin: 18px 0px;
  font-size: 18px;
  line-height: 20px;

}