$color-bg-main: #ffffff;
$color-text-main: #000000;
$color-text-second: #ffffff;
$color-yellow: #f7e296;
$color-orange-main: #f0c52e;
$color-orange-logo: #ffc600;
$color-grey-dark: #dcdcdc;
$color-grey-middle: #efefef;
$color-grey-light: #ebebeb;
$color-grey-extra-dark: #464646;


