.header-main {
  min-height: 180px;
  background: $color-yellow;
  padding: 0 60px 120px 60px;


  &__logo-main {
    top: -18px;
    margin-bottom: -10px;
  }


  &__wrapper-user-block {
    margin-bottom: 27px;
  }
}