.logo-main {
  display: inline-block;
  position: relative;

  &__img {
    display: block;
  }

  &--active {

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

}